<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5">
    <title>Network Information</title>

    <!-- Include UIkit CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}">
</head>
<body class="uk-container">

    <h1 class="uk-heading-line uk-text-center"><span>Network Information</span></h1>

    <h2 class="uk-heading-small">Top 10 Network Protocols by Bytes Sent</h2>

    <ul class="uk-list uk-list-bullet">
        {% for protocol, stats in top_protocols %}
            <li>{{ protocol }}: {{ stats.bytes_sent }} bytes sent</li>
        {% endfor %}
    </ul>

    <div class="uk-margin">
        <img src="data:image/png;base64,{{ img_data }}" alt="Top 10 Network Protocols Chart" class="uk-responsive-width">
    </div>

    <!-- Include UIkit JavaScript -->
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
</body>
</html>
